.menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 10px;
}

.topic {
  font-size: 30px;
  cursor: pointer;
  font-weight: 300;
}

.topic:hover {
  color: #00dae1;
}