* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-areas: 'header' 'nav' 'body';
  height: 100%;
  text-align: center;
  width: 100%;
}

header {
  align-items: center;
  display: flex;
  grid-area: header;
  justify-content: space-around;
  height: 20vh;
  margin-bottom: 25px;
}

.title {
  height: 135px;;
}

.nav {
  grid-area: nav;
  border-bottom: 5px solid #00dae1;
}

.section {
  grid-area: body;
}