* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-areas: 'header' 'nav' 'body';
  height: 100%;
  text-align: center;
  width: 100%;
}

header {
  align-items: center;
  display: flex;
  grid-area: header;
  justify-content: space-around;
  height: 20vh;
}

.title {
  font-size: 50px;
}
