.newsArticle {
  display: flex;
  margin: 20px 0;
  padding: 0 20px;
  margin: 30px 0;
}
.imageDiv {
  width: 45%;
  height: 400px;
  overflow: hidden;
}

.img {
  height: 100%;
}

.newsArticleContents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  width: 47%;
  margin: 0 10px;
}

.articleTitle {
 margin-top: 10px;
 padding: 0 20px;
 font-size: 35px;
}

.articleDescription {
padding: 0 50px;
font-size: 22px;
}

.articleLink {
  margin-bottom: 25px;
  text-decoration: none;
  color: #00dae1;
  font-size: 35px;
  font-weight: 800;
}

.articleLink:hover {
  color: hotpink;
}